{% extends "base.html"%}
{% block content %}
    <h1>Контакты</h1>
    <div class="contacts">
            <div class="contact_block">
                <div class="contact_name">
                     Телефон
                </div>
                <div class="contact_detail">
                     +7 900 800 70 60
                </div>
            </div>
            <div class="contact_block">
                <div class="contact_name">
                     Почта
                </div>
                <div class="contact_detail">
                     flask_clothes@gmail.com
                </div>
            </div>
            </div>
    </div>
{% endblock %}